<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}"/>
</head>
<body>

<form th:action="@{/user/login}">
    <h1>开始页面！成功！</h1>
    <p style="color: red" th:text="${msg}"  th:if="${not #strings.isEmpty(msg)}"></p>
    <input type="text" name="username" placeholder="用户名" id="username" />
    <input type="password" name="password" placeholder="密码" id="password"/>
    <button type="submit">登录</button>
</form>
</body>
</html>